{% extends "template.html" %}
{% block content %}
	<div>
		<h2> Usage </h2>
		<p> CPU Usage: {{CPU}} </p>
		<p> Memory: {{MEM}} </p>
		<h2> Most resource intensive apps </h2>
		<div id = "charts" style ="height:350px;width:350px;">
			<script src="../static/js/chart/dist/Chart.js"></script>
			<canvas id="myChart" width=350 height = 350></canvas>
			<script>
				var ctx = document.getElementById("myChart");
				var titles = {{l|safe}}
				var chartData = {{d|safe}}
				var myChart = new Chart(ctx, {
					type : 'pie',
					data : {
						labels:  [titles[0],titles[1],titles[2],titles[3],titles[4],titles[5],titles[6]],
						datasets: [{
							data: [chartData[0],chartData[1],chartData[2],chartData[3],chartData[4],chartData[5],chartData[6]],
							backgroundColor: ["#98FB98","#FB9090","#FFCE56","#8770FF","#6495ED", "#808A87"],
						}]
					},
				});
			</script>
		</div>
		<h2> <a href="/servInfo"> Full usage info </a> </h2>
	</div>
{% endblock %}
